* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
}

.main {
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.main .main__bg1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-image: url(/imgs/mountain2_optimized.png);
  background-size: cover;
  background-position: center;
  z-index: -3;
}

.main .main__bg2 {
  width: 100%;
  height: 100vh;
  background-image: url(/imgs/mountain3_optimized.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 1px;
  z-index: -2;
}

.main .main__bg3 {
  width: 100%;
  height: 100vh;
  background-image: url(/imgs/mountain4_optimized.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 2px;
  z-index: -1;
}

.main .main__bg4 {
  width: 100%;
  height: 100vh;
  background-image: url(/imgs/mountain5_optimized.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 1px;
  z-index: -1;
}

.main .main__circle--wrapper {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: -3;
}

.main .main__circle--wrapper .main__circle--big {
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 100vh;
  background-color: #C4C4C4;
  border-radius: 50%;
  opacity: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -3;
  border: 2px solid #8b8b8b;
}

.main .main__circle--wrapper .main__circle--small {
  position: absolute;
  height: 50vh;
  width: 50vh;
  background-color: #C4C4C4;
  border-radius: 50%;
  opacity: 20%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -3;
  border: 2px solid #8b8b8b;
}

.main .main__logo {
  font-family: 'Lobster', cursive;
  position: absolute;
  top: 4vh;
  left: 4vh;
  font-size: 1.2rem;
}

.main .main__social {
  position: absolute;
  bottom: 4vh;
  left: 4vh;
}

.main .main__social a {
  padding-left: 20px;
  color: white;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 1.2rem;
}

.main h1 {
  z-index: -3;
  font-size: 10rem;
  text-align: center;
  letter-spacing: 1.1rem;
  font-weight: 700;
  position: absolute;
  width: 100%;
  top: 42%;
}

.main h2 {
  position: absolute;
  bottom: 18%;
  z-index: 3;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2.5rem;
}

.main button {
  z-index: 3;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
  height: 5vh;
  width: 5vh;
  cursor: pointer;
  background: none;
  border: none;
}

.main button img {
  width: 100%;
  height: 100%;
}

.about {
  overflow: hidden;
  height: 100vh;
  z-index: 2;
  background-color: #5E8197;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.about .about__circle--wrapper {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.about .about__circle--wrapper .about__circle--big {
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 100vh;
  background-color: #C4C4C4;
  border-radius: 50%;
  opacity: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -3;
  border: 2px solid #8b8b8b;
}

.about .about__circle--wrapper .about__circle--small {
  position: absolute;
  height: 50vh;
  width: 50vh;
  background-color: #C4C4C4;
  border-radius: 50%;
  opacity: 20%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -3;
  border: 2px solid #8b8b8b;
}

.about .about__header {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  right: 4vh;
  top: 4vh;
}

.about .about__card {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.about .card__img-container {
  width: 40%;
  position: relative;
}

.about .card__img-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5%;
}

.about .card__description {
  height: 70%;
  width: 100%;
  margin: auto 0;
  position: relative;
}

.about .card__description h3 {
  font-size: 2rem;
  font-family: 'Lobster', cursive;
  font-weight: normal;
}

.about .card__description p {
  width: 50%;
  margin: auto 0;
  font-weight: bold;
  font-size: 0.9rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about .card__description button {
  bottom: 0;
  position: absolute;
  width: 150px;
  height: 42px;
  border-radius: 50px 50px 50px 50px;
  border: 1px solid white;
  font-family: 'lobster', cursive;
  background-color: #5E8197;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.about .card__description button:hover {
  color: #528197;
  background-color: #fff;
  border: 1px solid #528197;
}

.about__card:nth-of-type(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: end;
}

.about__card:nth-of-type(2) .card__description button {
  right: 0;
}

.about__card:nth-of-type(2) .card__description p {
  right: 0;
}

@media (max-width: 800px) {
  .main h1 {
    font-size: 5rem;
  }
  .main h2 {
    font-size: 1.5rem;
  }
  .about .about__card {
    width: 100%;
  }
  .about .about__card .card__description p {
    width: 90%;
  }
  .about .about__card .card__img-container img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 440px) {
  .main h1 {
    font-size: 4rem;
    letter-spacing: normal;
  }
  .main .main__circle--wrapper .main__circle--big {
    height: 50vh;
    width: 50vh;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .main .main__circle--wrapper .main__circle--small {
    height: 25vh;
    width: 25vh;
  }
  .main h2 {
    font-size: 1.2rem;
  }
  .main .main__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    left: 0;
  }
  .main .main__social a {
    padding: 0;
  }
  .about .about__header {
    font-size: 1.5rem;
    top: 2vh;
    right: 2vh;
  }
  .about .about__card {
    width: 100%;
  }
  .about .about__card .card__img-container img {
    height: 100px;
    width: 100px;
  }
  .about .about__card .card__description h3 {
    font-size: 1.5rem;
  }
  .about .about__card .card__description p {
    font-size: .6rem;
    width: 95%;
    font-weight: normal;
  }
  .about .about__card .card__description button {
    width: 100px;
    height: 30px;
  }
}

@media (max-width: 361px) {
  .main h2 {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */