* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    overflow-X: hidden;
}


.main {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;

    overflow: hidden;

    .main__bg1 {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-image: url(/imgs/mountain2_optimized.png);
        background-size: cover;
        background-position: center;
        z-index: -3;
    }

    .main__bg2 {
        width: 100%;
        height: 100vh;
        background-image: url(/imgs/mountain3_optimized.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        bottom: 1px;
        z-index: -2;
    }

    .main__bg3 {
        width: 100%;
        height: 100vh;
        background-image: url(/imgs/mountain4_optimized.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        bottom: 2px;
        z-index: -1;
    }

    .main__bg4 {
        width: 100%;
        height: 100vh;
        background-image: url(/imgs/mountain5_optimized.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        bottom: 1px;
        z-index: -1;
    }


    .main__circle--wrapper {
        overflow: hidden;
        position: relative;
        height: 100vh;
        width: 100%;
        z-index: -3;

        .main__circle--big {
            overflow: hidden;
            position: absolute;
            height: 100vh;
            width: 100vh;
            background-color: #C4C4C4;
            border-radius: 50%;
            opacity: 20%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -3;
            border: 2px solid #8b8b8b;
        }

        .main__circle--small {
            position: absolute;
            height: 50vh;
            width: 50vh;
            background-color: #C4C4C4;
            border-radius: 50%;
            opacity: 20%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -3;
            border: 2px solid #8b8b8b;
        }
    }

    .main__logo {
        font-family: 'Lobster', cursive;
        position: absolute;
        top: 4vh;
        left: 4vh;
        font-size: 1.2rem;
    }

    .main__social {
        position: absolute;
        bottom: 4vh;
        left: 4vh;

        a {
            padding-left: 20px;
            color: white;
            text-decoration: none;
            font-family: 'Lobster', cursive;
            font-size: 1.2rem;
        }
    }


    h1 {
        z-index: -3;
        font-size: 10rem;

        text-align: center;
        letter-spacing: 1.1rem;
        font-weight: 700;
        position: absolute;
        width: 100%;
        top: 42%;

    }

    h2 {
        position: absolute;
        bottom: 18%;
        z-index: 3;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2.5rem;
    }

    button {
        z-index: 3;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%) rotate(180deg);
        height: 5vh;
        width: 5vh;
        cursor: pointer;
        background: none;
        border: none;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.about {
    overflow: hidden;
    height: 100vh;
    z-index: 2;
    background-color: #5E8197;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;

    .about__circle--wrapper {

        position: absolute;
        height: 100vh;
        width: 100%;
        z-index: -1;
        top: 0;
        left: 0;

        .about__circle--big {
            overflow: hidden;
            position: absolute;
            height: 100vh;
            width: 100vh;
            background-color: #C4C4C4;
            border-radius: 50%;
            opacity: 20%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -3;
            border: 2px solid #8b8b8b;
        }

        .about__circle--small {
            position: absolute;
            height: 50vh;
            width: 50vh;
            background-color: #C4C4C4;
            border-radius: 50%;
            opacity: 20%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -3;
            border: 2px solid #8b8b8b;
        }
    }

    .about__header {
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        font-size: 4rem;
        right: 4vh;
        top: 4vh
    }

    .about__card {
        width: 80%;
        height: 100%;
        display: flex;
        margin: 0 auto;
        position: relative;
    }

    .card__img-container {

        width: 40%;
        position: relative;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 70%;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
            border-radius: 5%;
        }
    }

    .card__description {
        height: 70%;
        width: 100%;
        margin: auto 0;
        position: relative;

        h3 {
            font-size: 2rem;
            font-family: 'Lobster', cursive;
            font-weight: normal;

        }

        p {
            width: 50%;
            margin: auto 0;
            font-weight: bold;
            font-size: 0.9rem;
            position: absolute;
            top: 50%;

            transform: translateY(-50%);

        }

        button {
            bottom: 0;
            position: absolute;
            width: 150px;
            height: 42px;
            border-radius: 50px 50px 50px 50px;
            border: 1px solid white;
            font-family: 'lobster', cursive;
            background-color: #5E8197;
            color: white;
            font-size: 1.1rem;
            cursor: pointer;
            transition: .5s;
        }

        button:hover {
            color: #528197;
            background-color: #fff;
            border: 1px solid #528197;
        }
    }
}

.about__card:nth-of-type(2) {
    flex-direction: row-reverse;
    text-align: end;

    .card__description {
        button {
            right: 0;
        }

        p {
            right: 0;
        }
    }

}




@media(max-width: 1024px) {
    .about {
        .about__card {
            .card__description {
                h3 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: .7rem;
                }
            }

            .card__img-container {
                img {
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }
}

@media(max-width: 800px) {
    .main {
        h1 {
            font-size: 5rem;
        }

        h2 {
            font-size: 1.5rem;
        }
    }

    .about {
        .about__card {
            width: 100%;

            .card__description {
                p {
                    width: 90%;
                }
            }

            .card__img-container {
                img {
                    width: 200px;
                    height: 200px;
                }
            }

        }
    }
}

@media(max-width: 736px) and (orientation: landscape) {
    .main {
        h1 {
            top: 25%;
        }
    }

    .about {
        .about__header {
            font-size: 2rem;
            top: 2%;
            right: 2%;
        }

        .about__card {


            .card__img-container {
                img {
                    width: 100px;
                    height: 100px;
                }
            }

            button {
                width: 80px;
                height: 20px;
                font-size: .6rem;
            }

            .card__description {
                h3 {
                    font-size: 1rem;
                }

                p {
                    font-size: .5rem;
                }
            }
        }
    }
}

@media(max-width: 440px) {
    .main {
        h1 {
            font-size: 4rem;
            letter-spacing: normal;
        }

        .main__circle--wrapper {
            .main__circle--big {
                height: 50vh;
                width: 50vh;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .main__circle--small {
                height: 25vh;
                width: 25vh;
            }
        }

        h2 {
            font-size: 1.2rem;
        }

        .main__social {
            display: flex;
            justify-content: space-around;
            width: 100%;

            left: 0;

            a {
                padding: 0;
            }
        }
    }

    .about {
        .about__header {
            font-size: 1.5rem;
            top: 2vh;
            right: 2vh;
        }

        .about__card {
            width: 100%;

            .card__img-container {
                img {
                    height: 100px;
                    width: 100px;
                }
            }

            .card__description {
                h3 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: .6rem;
                    width: 95%;
                    font-weight: normal;
                }

                button {
                    width: 100px;
                    height: 30px;
                }
            }
        }
    }
}

@media(max-width: 361px) {
    .main {
        h2 {
            font-size: 1rem;
        }
    }
}